{{ if eq .chezmoi.os "linux" "darwin" }}

[".config/btop/themes"]
type = "archive"
url = "https://github.com/catppuccin/btop/archive/refs/heads/main.zip"
stripComponents = 2
include = ["btop-main/themes/catppuccin_*.theme"]

[".config/fsh/catppuccin-mocha.ini"]
type = "file"
url = "https://raw.githubusercontent.com/catppuccin/zsh-fsh/refs/heads/main/themes/catppuccin-mocha.ini"

[".config/atuin/themes/catppuccin-mocha-teal.toml"]
type = "file"
url = "https://raw.githubusercontent.com/catppuccin/atuin/refs/heads/main/themes/mocha/catppuccin-mocha-teal.toml"

[".config/zsh/conf.d/ctpgum.sh"]
type = "file"
url = "https://raw.githubusercontent.com/holo96/catppuccin-gum/main/gum-catppuccin.sh"

[".config/kitty/relative_resize.py"]
type = "file"
url = "https://raw.githubusercontent.com/mrjones2014/smart-splits.nvim/refs/heads/master/kitty/relative_resize.py"

[".config/kitty/themes/mocha.conf"]
type = "file"
url = "https://raw.githubusercontent.com/catppuccin/kitty/refs/heads/main/themes/mocha.conf"

{{ end }}
