background_opacity {{ .terminalBlur }}
confirm_os_window_close 0
cursor_trail 1
cursor_trail_start_threshold 50
enable_audio_bell no
font_family JetBrainsMono Nerd Font
font_size {{ .terminalFontSize }}
hide_window_decorations no
wayland_enable_ime yes
window_alert_on_bell no
window_padding_width 5

include themes/{{ .catppuccinFlavor }}.conf
