#!/bin/bash

set -eufo pipefail

{{- $brewPrefix := "/opt/homebrew" }}
{{- $brewBin := "/opt/homebrew/bin/brew" }}
{{- if lookPath "/usr/local/bin/brew" }}
{{-   $brewPrefix = "/usr/local" }}
{{-   $brewBin = "/usr/local/bin/brew" }}
{{- end }}

sudo tee /etc/zshenv > /dev/null << 'EOF'
fpath+=("{{ $brewPrefix }}")

eval "$({{ $brewBin }} shellenv)"

export ZDOTDIR="${XDG_CONFIG_HOME:-$HOME/.config}/zsh"

PATH=$PATH:/usr/local/bin
EOF

echo "zshenv (/etc/zshenv) configured with Homebrew at {{ $brewPrefix }}"
