#!/bin/bash

set -eufo pipefail

sudo dseditgroup -o edit -a cwel -t user wheel

sudo tee /etc/zshenv > /dev/null << 'EOF'
export ZDOTDIR="${XDG_CONFIG_HOME:-$HOME/.config}/zsh"
EOF

echo "(/etc/zshenv) configured"

if [ -f /etc/bashrc ]; then
    if ! grep -q "BASHRCSOURCED" /etc/bashrc; then
        sudo tee -a /etc/bashrc >/dev/null <<'EOF'

# If not running interactively, don't do anything
[[ $- != *i* ]] && return

# Prevent doublesourcing
if [[ -z "${BASHRCSOURCED}" ]] ; then
  BASHRCSOURCED="Y"
  # the check is bash's default value
  [[ "$PS1" = '\s-\v\$ ' ]] && PS1='[\u@\h \W]\$ '
  case ${TERM} in
    Eterm*|alacritty*|aterm*|foot*|gnome*|konsole*|kterm*|putty*|rxvt*|tmux*|xterm*)
      PROMPT_COMMAND+=('printf "\033]0;%s@%s:%s\007" "${USER}" "${HOSTNAME%%.*}" "${PWD/#$HOME/\~}"')
      ;;
    screen*)
      PROMPT_COMMAND+=('printf "\033_%s@%s:%s\033\\" "${USER}" "${HOSTNAME%%.*}" "${PWD/#$HOME/\~}"')
      ;;
  esac
fi

if [[ -r /usr/share/bash-completion/bash_completion ]]; then
  . /usr/share/bash-completion/bash_completion
fi

# Source user's .bashrc if it exists
if [ -f "$HOME/.bashrc" ]; then
    source "$HOME/.bashrc"
fi
EOF
    fi
fi

{{- if not .isVM }}
LAUNCH_AGENTS_DIR="$HOME/Library/LaunchAgents"
PLIST_PATH="$LAUNCH_AGENTS_DIR/sh.cwel.darwenv.plist"
DARWENV_PATH="$HOME/.local/bin/darwenv"

if [[ ! -f "$PLIST_PATH" ]]; then
    mkdir -p "$LAUNCH_AGENTS_DIR"

    cat > "$PLIST_PATH" << EOF
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>sh.cwel.darwenv</string>
    <key>ProgramArguments</key>
    <array>
        <string>$DARWENV_PATH</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>
EOF

    echo "LaunchAgent plist created at $PLIST_PATH"
fi

if ! launchctl list | grep -q "sh.cwel.darwenv"; then
    launchctl bootstrap "gui/$(id -u)" "$PLIST_PATH"
    echo "LaunchAgent (sh.cwel.darwenv) loaded"
else
    echo "LaunchAgent (sh.cwel.darwenv) already loaded"
fi
{{- end }}
