# yaml-language-server: $schema=https://raw.githubusercontent.com/jesseduffield/lazygit/master/schema/config.json

notARepository: skip
promptToReturnFromSubprocess: false
disableStartupPopups: true
gui:
  expandFocusedSidePanel: true
  skipRewordInEditorWarning: true
  showNumstatInFilesView: true
  filterMode: "fuzzy"
  # statusPanelView: allBranchesLog
  showBottomLine: false
  commandLogSize: 4
  nerdFontsVersion: '3'
  showRandomTip: false
  sidePanelWidth: .22
  branchColors:
    "release": "#f9e2af"
    "hotfix": "#f38ba8"
    "feature": "#a6e3a1"
  authorColors:
    '*': '#b4befe'
  theme:
    activeBorderColor:
      - '#89b4fa'
      - bold
    inactiveBorderColor:
      - '#a6adc8'
    optionsTextColor:
      - '#89b4fa'
    selectedLineBgColor:
      - '#313244'
    cherryPickedCommitBgColor:
      - '#45475a'
    cherryPickedCommitFgColor:
      - '#89b4fa'
    unstagedChangesColor:
      - '#f38ba8'
    defaultFgColor:
      - '#cdd6f4'
    searchingActiveBorderColor:
      - '#f9e2af'

git:
  pagers:
    - pager: delta --dark --paging=never --line-numbers --hyperlinks --hyperlinks-file-link-format="lazygit-edit://{path}:{line}"
  branchLogCmd: "git log --graph --color=always --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)' {{branchName}} --"
  allBranchesLogCmds:
    - git log --graph --all --color=always --abbrev-commit  --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
  parseEmoji: true


