#!/bin/bash

set -eufo pipefail

if command -v bat >/dev/null 2>&1; then
    bat cache --clear
    bat cache --build
fi

if command -v fast-theme >/dev/null 2>&1; then
    fast-theme XDG:catppuccin-mocha
fi

git -C "${CHEZMOI_WORKING_TREE}" remote set-url origin git@github.com:cwelsys/dotfiles.git

