{{ if and (or (eq .chezmoi.os "darwin") (eq .chezmoi.os "linux")) (ne .chezmoi.osRelease.id "arch") -}}
#!/bin/bash

{{- $taps := dict }}
{{- range .pkgs.shared.brews }}
  {{- $val := printf "%v" . }}
  {{- $parts := split "/" $val }}
  {{- if (ge (len $parts) 2) }}
    {{- $tap := printf "%s/%s" (index $parts 0) (index $parts 1) }}
    {{- $_ := set $taps $tap true }}
  {{- end }}
{{- end }}
{{- range .pkgs.shared.casks }}
  {{- $val := printf "%v" . }}
  {{- $parts := split "/" $val }}
  {{- if (ge (len $parts) 2) }}
    {{- $tap := printf "%s/%s" (index $parts 0) (index $parts 1) }}
    {{- $_ := set $taps $tap true }}
  {{- end }}
{{- end }}
{{- if eq .chezmoi.os "darwin" }}
  {{- range .pkgs.darwin.brews }}
    {{- $val := printf "%v" . }}
    {{- $parts := split "/" $val }}
    {{- if (ge (len $parts) 2) }}
      {{- $tap := printf "%s/%s" (index $parts 0) (index $parts 1) }}
      {{- $_ := set $taps $tap true }}
    {{- end }}
  {{- end }}
  {{- range .pkgs.darwin.casks }}
    {{- $val := printf "%v" . }}
    {{- $parts := split "/" $val }}
    {{- if (ge (len $parts) 2) }}
      {{- $tap := printf "%s/%s" (index $parts 0) (index $parts 1) }}
      {{- $_ := set $taps $tap true }}
    {{- end }}
  {{- end }}
{{- end }}
{{- range $tap, $_ := $taps }}
brew tap {{ $tap }}
{{- end }}

brew bundle --file=/dev/stdin <<EOF
{{- range .pkgs.shared.brews }}
brew {{ . | quote }}
{{- end }}

{{- if eq .chezmoi.os "darwin" }}
{{- range .pkgs.darwin.brews }}
brew {{ . | quote }}
{{- end }}
{{- end }}

{{- range .pkgs.shared.casks }}
cask {{ . | quote }}
{{- end }}

{{- if eq .chezmoi.os "darwin" }}
{{- range .pkgs.darwin.casks }}
cask {{ . | quote }}
{{- end }}
{{- end }}
EOF
{{- end }}
