[core]
  editor = nvim
  longpaths = true
  whitespace = trailing-space,space-before-tab
  pager = delta
  excludesFile = ~/.config/git/ignore

[include]
  path = ~/.config/git/gitaliases

[pager]
  tag = sort -V
	format-patch = cat
	diff = delta
	blame = delta
	log = emojify | less
	reflog = emojify | less
	config = bat -pplproperties
	remote = bat -ppltsv
	ls-files = parallel eza --color=always --icons
	check-ignore = parallel eza --color=always --icons

[user]
  name = Connor Welsh
  email = {{ .email }}
  signingkey = {{ .sshId  }}

[github]
  user = cwelsys

[init]
  defaultBranch = main

[color]
  ui = always
  interactive = always

[safe]
  directory = ~/Projects
  directory = ~/scoop/*

[gpg]
	format = ssh
{{ if eq .chezmoi.os "darwin" }}
[gpg "ssh"]
	program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
{{ end }}

[branch]
	sort = -committerdate

[column]
	ui = auto

[diff]
  algorithm = histogram
  colorMoved = plain
  colorMovedWS = allow-indentation-change
  context = 10
  mnemonicPrefix = true
  renames = true
  submodule = log

[fetch]
	all = true
	fsckobjects = false
	prune = true

[receive]
	fsckobjects = true

[transfer]
	fsckobjects = true

[grep]
	lineNumber = true
	extendedRegexp = true

[trim]
	bases = master,gh-pages

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[delta]
  features = unobtrusive-line-numbers catppuccin-mocha
  side-by-side = true
  navigate = true

[delta "catppuccin-mocha"]
	blame-palette = "#1e1e2e #181825 #11111b #313244 #45475a"
	commit-decoration-style = "box ul"
	dark = true
	file-decoration-style = "#cdd6f4"
	file-style = "#cdd6f4"
	hunk-header-decoration-style = "box ul"
	hunk-header-file-style = "bold"
	hunk-header-line-number-style = "bold #a6adc8"
	hunk-header-style = "file line-number syntax"
	line-numbers = true
	line-numbers-left-style = "#6c7086"
	line-numbers-minus-style = "bold #f38ba8"
	line-numbers-plus-style = "bold #a6e3a1"
	line-numbers-right-style = "#6c7086"
	line-numbers-zero-style = "#6c7086"
	minus-emph-style = "bold syntax #53394c"
	minus-style = "syntax #35293b"
	plus-emph-style = "bold syntax #40504b"
	plus-style = "syntax #2c333a"
	map-styles = \
		bold purple => syntax "#494060", \
		bold blue => syntax "#394361", \
		bold cyan => syntax "#384d5e", \
		bold yellow => syntax "#544f4e"
	syntax-theme = "Catppuccin Mocha"

[interactive]
  diffFilter = delta --color-only

[help]
  autoCorrect = prompt

[advice]
  addEmptyPathspec = false
  pushNonFastForward = false
  statusHints = false

[push]
  autoSetupRemote = true
  default = current

[pull]
  rebase = true

[rebase]
  autoSquash = true
  autoStash = true
  updateRefs = true

[rerere]
  enabled = true

[merge]
  conflictstyle = zdiff3
  
[submodule]
  fetchJobs = 8
  recurse = true

[status]
	submoduleSummary = true

[tag]
	sort = version:refname

[fetch]
  all = true
  fsckobjects = false
  prune = true

[remote]
  pushDefault = origin

[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process

[url "git@github.com:"]
  insteadOf = "gh:"
  pushInsteadOf = "github:"
  pushInsteadOf = "git://github.com/"

[url "git@gist.github.com:"]
  insteadOf = "gst:"
  pushInsteadOf = "gist:"
  pushInsteadOf = "git://gist.github.com/"

{{- $ghPath := lookPath "gh" }}
{{- if $ghPath }}
{{- if eq .chezmoi.os "windows" }}
{{- $ghPathFixed := replace "\\" "/" $ghPath }}
[credential "https://github.com"]
    helper = !"{{ $ghPathFixed }}" auth git-credential
[credential "https://gist.github.com"]
    helper = !"{{ $ghPathFixed }}" auth git-credential
{{- else }}
[credential "https://github.com"]
    helper = !{{ $ghPath }} auth git-credential
[credential "https://gist.github.com"]
    helper = !{{ $ghPath }} auth git-credential
{{- end }}
{{- end }}
