[core]
  editor = code --wait
  longpaths = true
  pager = delta
  excludesFile = ~/.config/git/ignore
  safecrlf = false

[gpg]
	format = ssh
{{ if eq .chezmoi.os "darwin" }}
[gpg "ssh"]
	program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
{{ else }}
[gpg "ssh"]
	program = ssh-keygen
{{ end }}

[am]
  threeWay = true

[diff]
  tool = default-difftool
  colorMoved = default

[difftool "default-difftool"]
  cmd = code --wait --diff $LOCAL $REMOTE

[delta]
  features = catppuccin-mocha
  file-style = omit
  file-decoration-style = none
  hunk-label = "  󰡏 "
  side-by-side = true
  navigate = true
  tabs = 2
  true-color = always
  hyperlinks = true
  line-numbers = true
  show-syntax-themes = true

[interactive]
  diffFilter = delta --color-only

[include]
  path = ~/.config/delta/catppuccin.gitconfig
  path = ~/.config/git/gitaliases

[user]
  name = Connor Welsh
  email = cwel@cwel.sh
  signingkey = {{ .sshId | quote }}

[advice]
  addEmptyPathspec = false
  pushNonFastForward = false
  statusHints = false

[github]
  user = cwelsys

[gitea]
  user = cwel

[color]
  ui = always
  interactive = always

{{- if eq .chezmoi.os "windows" }}
[safe]
  directory = {{ .chezmoi.workingTree }}
  directory = ~/scoop/*
{{- else }}
[safe]
  directory = /opt/docker/*
{{- end }}

[help]
  autoCorrect = prompt

[log]
  date = iso

[init]
  defaultBranch = main

[push]
  autoSetupRemote = true
  default = current

[pull]
  rebase = true

[rebase]
  autoSquash = true
  autoStash = true
  updateRefs = true

[receive]
  fsckobjects = true

[rerere]
  enabled = true

[merge]
  tool = code
  conflictstyle = zdiff3

[submodule]
  fetchJobs = 8

[fetch]
  all = true
  fsckobjects = false
  prune = true

[remote]
  pushDefault = origin

[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process

[url "git@github.com:"]
  insteadOf = "gh:"
  pushInsteadOf = "github:"
  pushInsteadOf = "git://github.com/"

[url "git@gist.github.com:"]
  insteadOf = "gst:"
  pushInsteadOf = "gist:"
  pushInsteadOf = "git://gist.github.com/"

[url "git@git.cwel.casa:"]
  insteadOf = "gitea:"
  pushInsteadOf = "git://git.cwel.casa/"

{{- if eq .chezmoi.os "windows" }}
[credential "helperselector"]
  selected = manager
{{- else }}
[credential "https://git.cwel.casa"]
  provider = generic
{{- end }}
{{/* vim: set filetype=gitconfig: */}}
