{{- /* bitwarden.tmpl - Helper functions for Bitwarden integration */ -}}

{{- /* bitwardenFields retrieves all fields from a Bitwarden item */ -}}
{{- define "bitwarden_fields" -}}
{{- $itemName := . -}}
{{- $output := (output "pwsh" "-NoProfile" "-Command" (printf ". \"%s/.chezmoitemplates/bitwarden/functions.ps1\"; Get-BitwardenItemFields -ItemName \"%s\" | ConvertFrom-Json" .chezmoi.sourceDir $itemName)) | fromJson -}}
{{- $output -}}
{{- end -}}

{{- /* bitwardenSecret retrieves a specific field from a Bitwarden item */ -}}
{{- define "bitwarden_secret" -}}
{{- $itemName := index . 0 -}}
{{- $fieldName := index . 1 -}}
{{- $output := (output "pwsh" "-NoProfile" "-Command" (printf ". \"%s/.chezmoitemplates/bitwarden/functions.ps1\"; Get-BitwardenSecret -ItemName \"%s\" -FieldName \"%s\"" .chezmoi.sourceDir $itemName $fieldName)) -}}
{{- $output -}}
{{- end -}}

{{- /* bitwardenSecureNote retrieves a secure note from Bitwarden */ -}}
{{- define "bitwarden_secure_note" -}}
{{- $itemName := . -}}
{{- $output := (output "pwsh" "-NoProfile" "-Command" (printf ". \"%s/.chezmoitemplates/bitwarden/functions.ps1\"; Get-BitwardenSecureNote -ItemName \"%s\"" .chezmoi.sourceDir $itemName)) -}}
{{- $output -}}
{{- end -}}

{{- /* bitwardenAttachment retrieves an attachment from a Bitwarden item */ -}}
{{- define "bitwarden_attachment" -}}
{{- $itemName := index . 0 -}}
{{- $attachmentName := index . 1 -}}
{{- $output := (output "pwsh" "-NoProfile" "-Command" (printf ". \"%s/.chezmoitemplates/bitwarden/functions.ps1\"; Get-BitwardenAttachment -ItemName \"%s\" -AttachmentName \"%s\"" .chezmoi.sourceDir $itemName $attachmentName)) -}}
{{- $output -}}
{{- end -}}

{{- /* bitwardenEnvVars retrieves all environment variables from Bitwarden */ -}}
{{- define "bitwarden_env_vars" -}}
{{- $folderName := . -}}
{{- $output := (output "pwsh" "-NoProfile" "-Command" (printf ". \"%s/.chezmoitemplates/bitwarden/functions.ps1\"; Get-BitwardenEnvironmentVariables -FolderName \"%s\" | ConvertTo-Json" .chezmoi.sourceDir $folderName)) | fromJson -}}
{{- $output -}}
{{- end -}}
