session_name: notes-tasks
windows:
  - window_name: notes
    start_directory: {{ .obsiPath }}
    panes:
      - shell_command:
          - nvim
  - window_name: tasks
    panes:
      - shell_command:
          - taskwarrior-tui
