{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $name := promptStringOnce . "name" "Username" -}}


encryption = "age"

[age]
    identity = "~/.config/key.txt"
    recipient = "age1tg4yymck048fyv8dh389dgh6uuhmhnz6pusevndukqlslxru8ctqvne8el"

[git]
    autoCommit = true
    autoPush = true

[diff]
    command = "delta"
    pager = "delta"

[merge]
  command = "cmd.exe"
  args = [
    "/c",
    {{ printf "%q" "copy {{ .Target }} {{ .Target }}.base && code --new-window --wait --merge {{ .Destination }} {{ .Target }} {{ .Target }}.base {{ .Source }}" }},
  ]

[data]
    email = {{ $email | quote }}
    name = {{ $name | quote }}
