{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $name := promptStringOnce . "name" "Username" -}}


encryption = "age"

[age]
    identity = "~/.config/key.txt"
    recipient = "age1tg4yymck048fyv8dh389dgh6uuhmhnz6pusevndukqlslxru8ctqvne8el"

[git]
    autoCommit = true
    autoPush = true

[diff]
    command = "delta"
    pager = "delta"
[merge]
    command = 'WinMergeU'
    args = [
        '-u',
        '-e',
        '-x',
        '-fm',
        '-wl',
        '-wr',
        '-dl',
        '"Local"',
        '-dr',
        '"Remote"'
    ]
[data]
    email = {{ $email | quote }}
    name = {{ $name | quote }}
