[filter "sops"]
clean = pwsh -NoProfile -NonInteractive -ExecutionPolicy Bypass -File \"%cd%/.local/bin/sops-clean.ps1\" %f
smudge = pwsh -NoProfile -NonInteractive -ExecutionPolicy Bypass -File \"%cd%/.local/bin/sops-smudge.ps1\"
required = true
