* text=auto
*.zsh text eol=lf
*.sh text eol=lf
dot_zshrc text eol=lf
dot_zshenv text eol=lf
dot_bashrc text eol=lf
dot_bash_* text eol=lf
**/zsh/** text eol=lf
**/bash/** text eol=lf
home/**/bin/* text eol=lf
*.ps1 text eol=crlf
*.psm1 text eol=crlf
.chezmoiscripts/linux/*.tmpl text eol=lf
*.sh.tmpl linguist-language=sh linguist-detectable
*zshenv* linguist-language=sh linguist-detectable
*zshrc* linguist-language=sh linguist-detectable
*.ps1.tmpl linguist-language=pwsh linguist-detectable
*chezmoiignore* linguist-language=gitignore linguist-detectable
*chezmoiremove* linguist-language=gitignore linguist-detectable
*gitignore* linguist-language=gitignore linguist-detectable
*rgignore* linguist-language=gitignore linguist-detectable
*.json linguist-language=json linguist-detectable
*.json.tmpl linguist-language=json linguist-detectable
*.toml linguist-language=toml linguist-detectable
*.toml.tmpl linguist-language=toml linguist-detectable
*.yaml linguist-language=yml linguist-detectable
*.yaml.tmpl linguist-language=yml linguist-detectable
*.yml linguist-language=yml linguist-detectable
*.yml.tmpl linguist-language=yml linguist-detectable
