[user]
    name = {{ .name }}
    email = {{ .email }}

{{- if .useBitwarden }}
# The following sections use Bitwarden to retrieve sensitive information
[github]
    {{- with (output "pwsh" "-NoProfile" "-Command" (printf ". \"%s/.chezmoitemplates/bitwarden/functions.ps1\"; Get-BitwardenItemFields -ItemName \"GitHub API\"" .chezmoi.sourceDir) | fromJson) }}
    {{- if .token }}
    token = {{ .token }}
    {{- end }}
    {{- end }}

[gitlab]
    {{- with (output "pwsh" "-NoProfile" "-Command" (printf ". \"%s/.chezmoitemplates/bitwarden/functions.ps1\"; Get-BitwardenItemFields -ItemName \"GitLab API\"" .chezmoi.sourceDir) | fromJson) }}
    {{- if .token }}
    token = {{ .token }}
    {{- end }}
    {{- end }}

[user]
    {{- with (output "pwsh" "-NoProfile" "-Command" (printf ". \"%s/.chezmoitemplates/bitwarden/functions.ps1\"; Get-BitwardenItemFields -ItemName \"Git Config\"" .chezmoi.sourceDir) | fromJson) }}
    {{- if .signingkey }}
    signingkey = {{ .signingkey }}
    {{- end }}
    {{- end }}

[commit]
    {{- with (output "pwsh" "-NoProfile" "-Command" (printf ". \"%s/.chezmoitemplates/bitwarden/functions.ps1\"; Get-BitwardenItemFields -ItemName \"Git Config\"" .chezmoi.sourceDir) | fromJson) }}
    {{- if .signingkey }}
    gpgsign = true
    {{- end }}
    {{- end }}
{{- else }}
# Standard configuration without Bitwarden
[github]
    # Add your GitHub token here if needed
    # token = your-token-here

[gitlab]
    # Add your GitLab token here if needed
    # token = your-token-here

# [user]
    # Add your signing key here if needed
    # signingkey = your-signing-key

# [commit]
    # Enable GPG signing if you have a signing key
    # gpgsign = true
{{- end }}

[core]
    editor = nvim
    autocrlf = input
    excludesfile = ~/.gitignore_global

[init]
    defaultBranch = main

[pull]
    rebase = true

[push]
    default = simple

[color]
    ui = auto

[alias]
    st = status
    co = checkout
    br = branch
    ci = commit
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    unstage = reset HEAD --
    last = log -1 HEAD
