# vim:ft=gitignore.chezmoitmpl

.config/windows-terminal/
.config/windows-terminal/**

{{ if ne .chezmoi.os "linux" }}
.chezmoiscripts/linux/**
{{ end }}

{{ if ne .osId "windows" }}
.chezmoiscripts/windows/**
.local/bin/*.bat
.local/bin/*.reg
.local/bin/*.ps1
{{ end }}

{{ if ne .osId "darwin" }}
.chezmoiscripts/darwin/**
{{ end }}

{{ if eq .osId "windows" }}
.chezmoiscripts/unix/**
.local/bin/*.sh
{{ end }}

{{ if eq .osId "windows" }}

.config/atuin/
.config/btop/
.config/bat/
.config/fd/
.config/gdu/
.config/python/
.config/shared
.config/shared/**
.config/topgrade.toml
.font/
.config/tmux/
.config/tmux/**
.zprofile
.zshenv
.zsh_history

{{ else }}

.config/komorebi/
.config/git/bash/
.config/git/bash/**
.bash_profile
.config/sharex/
.config/sharex/**
.config/scoop/
.config/scoop/**
.config/whkdrc/
.config/yasb/
.config/clink/
scoop/
scoop/**
AppData/
AppData/**
Documents/
Documents/**
.vsvimrc
.wslconfig

{{ end }}

{{ if ne .chezmoi.os "linux" }}

.config/systemd/
.config/systemd/**
.config/tlp/

{{ end }}

{{ if not (lookPath "sddm") }}
.config/sddm/
.config/sddm/**
{{ end }}
