{{ $gpgId := "061DF935B288405FF6B906169496153E284399EF" }}
{{ $agePubKey := "age1wezwdvug6rdnwedvw8tk7npjm2rlmmewukxdat8v5y5garwvgdeq3ww5m9" }}
{{ $sshId := "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAINXPGUiiFFBzqutbhNqi5RjykdlwvdFveB/XkSdg0BAM" }}
{{- $email := "cwel@cwel.sh" -}}

{{- /* ===== SYSTEM DETECTION ===== */ -}}
{{- $hostname := .chezmoi.hostname -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $hostname = output "scutil" "--get" "LocalHostName" | trim -}}
{{- end -}}

{{- $osID := .chezmoi.os -}}
{{- if and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id") -}}
{{-   $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- $shell := (eq .chezmoi.os "windows") | ternary "pwsh" "zsh" -}}
{{- $isWSL := and (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
{{- $isVM := promptBoolOnce . "isVM" "Is this a virtual machine" false -}}

{{- /* ===== PROFILE FLAGS ===== */ -}}
{{- $headless := false -}}
{{- if eq .chezmoi.os "linux" -}}
{{-   if $isVM -}}
{{-     $headless = promptBoolOnce . "headless" "Headless (no GUI)" true -}}
{{-   else -}}
{{-     $headless = promptBoolOnce . "headless" "Headless (no GUI)" false -}}
{{-   end -}}
{{- end -}}

{{- $isLaptop := eq $hostname "mba" -}}

encryption = "age"
mode = "file"
progress = true

[data]
gpgId = {{ $gpgId | quote }}
agePubKey = {{ $agePubKey | quote }}
sshId = {{ $sshId | quote }}
osid = {{ $osID | quote }}
email = {{ $email | quote }}
hostname = {{ $hostname | quote }}
shell = {{ $shell | quote }}
isLaptop = {{ $isLaptop }}
isWSL = {{ $isWSL }}
isVM = {{ $isVM }}
headless = {{ $headless }}

[age]
  identity = "~/.config/.key"
  recipient = {{ $agePubKey | quote }}

[gpg]
  recipient = {{ $gpgId | quote }}
  args = [ "--quiet", ]

[git]
  autoAdd = true
  autoCommit = false
  autoPush = false

[update]
  recurseSubmodules = true

[edit]
  command = "nvim"

[merge]
  command = "nvim"
  args = [
    "-d",
    "{{ "{{" }} .Destination {{ "}}" }}",
    "{{ "{{" }} .Source {{ "}}" }}",
    "{{ "{{" }} .Target {{ "}}" }}",
  ]

[diff]
  format = "git"
  pager = "delta"

[cd]
  command = {{ $shell | quote }}

[onepassword]
  cache = true

[github]
  refreshPeriod = "6h"

[interpreters.ps1]
  command = "pwsh"
  args = ["-NoLogo"]
