# vim:ft=gitignore.chezmoitmpl

{{ if (joinPath .chezmoi.homeDir ".config/.key" | lstat) }}
.config/rclone/rclone.conf
{{ end }}

{{ if ne .chezmoi.os "linux" }}
.chezmoiscripts/linux/**
.config/gtk-*/
{{ end }}

{{ if or (ne .chezmoi.os "linux") (and .chezmoi.osRelease (ne .chezmoi.osRelease.id "arch")) }}
.config/environment.d/
.config/yay/
.config/pacman/
.config/gammastep/
.config/cava/
.config/Kvantum/
.config/pacseek/
.config/swaync/
.config/satty/
.config/mpv/
.config/qimgv/
.config/qt5ct/
.config/rofi/
.config/waybar/
.config/zathura/
.config/nwg-look/
.config/MangoHud/
.config/keyb/
.config/hypr/
.config/*.conf
.config/*.list
.config/dolphinrc
.gtkrc*
{{ end }}

{{ if ne .chezmoi.os "windows" }}
.chezmoiscripts/windows/**
.local/bin/*.bat
.local/bin/*.reg
.local/bin/*.ps1
.local/bin/*.ahk
.local/bin/*.cmd
{{ end }}

{{ if ne .chezmoi.os "darwin" }}
.chezmoiscripts/darwin/**
.config/yabai/
.config/skhd/
.config/karabiner/
.config/hammerspoon/
.local/bin/aid
.local/bin/darkn
Library/**
{{ end }}

{{ if eq .chezmoi.os "windows" }}
.chezmoiscripts/posix/**
.local/bin/*.sh
.local/bin/*
!.local/bin/*.*
.config/btop/
.config/gdu/
.config/fish/
.config/kitty/
.font/
{{ else }}

.config/komorebi/
.config/sharex/
.config/scoop/
.config/whkdrc
.config/yasb/
.config/clink/
scoop/
AppData/
Documents/
.wslconfig

{{ end }}

{{ if ne .chezmoi.os "linux" }}

.config/systemd/
.config/systemd/**
.local/bin/bonsai
.local/bin/tty-clock
{{ end }}

{{ if .isVM }}
.config/sharex/**
.config/yasb/
{{ end }}

.config/windows-terminal/
