# vim:ft=gitignore.chezmoitmpl
.gitconfig
.gitignore
.gitignore_global
.gitcookies
.bash_profile
.zprofile
.zshrc
.zshenv
.bash_profile
.profile
.sudo_as_admin_successful
.bash_history
.bash_logout
.motd_shown

