{{ if ne .chezmoi.os "linux" }}
.chezmoiscripts/linux/**
{{ end }}

{{ if not (and (eq .chezmoi.os "linux") (not .headless)) }}
.config/hypr
.config/uwsm
.config/swappy
.local/bin/screenshot
.local/bin/screenrecord
.local/bin/ocr
.local/bin/screensaver
.local/bin/screensaver.txt
.local/bin/clipboard-stdin
.local/bin/launch-*
.local/bin/tui-*
.local/bin/webapp-*
.local/bin/uwsm-app
{{ end }}

{{ if eq .chezmoi.hostname "pbox" }}
.config/mpd
{{ end }}

{{ if ne .chezmoi.os "windows" }}
.chezmoiscripts/windows/**
.local/bin/*.bat
.local/bin/*.reg
.local/bin/*.ps1
.local/bin/*.ahk
.local/bin/*.cmd
{{ end }}

{{ if ne .chezmoi.os "darwin" }}
.chezmoiscripts/darwin/**
.config/karabiner/
.local/bin/aid
.local/bin/darkn
.local/bin/darwenv
Library/**
{{ end }}

{{ if eq .chezmoi.os "windows" }}
.chezmoiscripts/posix/**
.local/bin/*.sh
.local/bin/*
!.local/bin/*.*
.local/share/spinners
{{ else }}
.config/clink/
.config/komorebi/
.config/sharex/
.config/scoop/
.config/whkdrc
.config/yasb/
scoop/
AppData/
{{ end }}

{{ if ne .chezmoi.os "linux" }}
.config/systemd/
.config/systemd/**
{{ end }}

{{ if eq .chezmoi.os "windows" }}
.config/environment.d/
{{ end }}

{{ if ne .osid "linux-arch" }}
.config/paru
.config/yay
{{ end }}

.config/zen
