# vim:ft=gitignore.chezmoitmpl

{{ if eq .osId "windows" }}
.npm-global/**/*
{{ end }}

# Use $XDG_CONFIG_HOME instead of root
.gitconfig
.gitignore
.gitignore_global
.gitcookies

# Use $ZDOTDIR instead of root
.zshrc
.zprofile
.zlogin
.zlogout

