.gitconfig
.gitignore
.gitignore_global
.gitcookies
.bash_profile
.zprofile
.zshrc
.zshenv
.zsh_history
.zsh_sessions/
.viminfo
.bash_profile
.sudo_as_admin_successful
.bash_history
.bash_logout
.motd_shown
.zcompdump
