{{- if eq (env "XDG_SESSION_TYPE") "wayland" -}}
# export GLFW_IM_MODULE='ibus'
# export GTK_IM_MODULE='fcitx'
# export GTK_IM_MODULE='wayland' # instead of 'fcitx' due to complainant, but clear this because some apps cannot open
export QT_IM_MODULE='fcitx'
export SDL_IM_MODULE='fcitx'
export XMODIFIERS='@im=fcitx'
export XMODIFIERS=@im='fcitx'
{{- end -}}
