# SSH Config Template with Bitwarden Integration

# Default settings for all hosts
Host *
    AddKeysToAgent yes
    IdentitiesOnly yes
    ServerAliveInterval 60
    ServerAliveCountMax 10

# GitHub configuration
Host github.com
    User git
    IdentityFile ~/.ssh/id_ed25519
    {{- if .useBitwarden }}
    {{- with (output "pwsh" "-NoProfile" "-Command" (printf ". \"%s/.chezmoitemplates/bitwarden/functions.ps1\"; Get-BitwardenItemFields -ItemName \"SSH Config\"" .chezmoi.sourceDir) | fromJson) }}
    {{- if .github_port }}
    Port {{ .github_port }}
    {{- end }}
    {{- end }}
    {{- end }}

# GitLab configuration
Host gitlab.com
    User git
    IdentityFile ~/.ssh/id_ed25519
    {{- if .useBitwarden }}
    {{- with (output "pwsh" "-NoProfile" "-Command" (printf ". \"%s/.chezmoitemplates/bitwarden/functions.ps1\"; Get-BitwardenItemFields -ItemName \"SSH Config\"" .chezmoi.sourceDir) | fromJson) }}
    {{- if .gitlab_port }}
    Port {{ .gitlab_port }}
    {{- end }}
    {{- end }}
    {{- end }}

{{- if .useBitwarden }}
# Custom SSH configurations from Bitwarden
{{- with (output "pwsh" "-NoProfile" "-Command" (printf ". \"%s/.chezmoitemplates/bitwarden/functions.ps1\"; Get-BitwardenItemFields -ItemName \"SSH Config\"" .chezmoi.sourceDir) | fromJson) }}
{{- if .custom_hosts }}
{{ .custom_hosts }}
{{- end }}
{{- end }}
{{- end }}
