{{- $fleet := dict -}}{{- if hasKey . "hosts" -}}{{- $fleet = .hosts -}}{{- end -}}
{{- $peers := list -}}
{{- range $n, $h := $fleet -}}
{{-   if and (ne $n $.hostname) (ne (get $h "chassis") "vm") -}}{{- $peers = append $peers $n -}}{{- end -}}
{{- end -}}
hostname *
terminfo_dir .local/share/terminfo
env ZDOTDIR=${HOME}/.config/zsh
env KITTY_INSTALLATION_DIR=${HOME}/.local/share/kitty-ssh-kitten
{{ if $peers }}
hostname {{ $peers | join " " }}
terminfo_dir .local/share/terminfo
env ZDOTDIR=${HOME}/.config/zsh
env KITTY_INSTALLATION_DIR=${HOME}/.local/share/kitty-ssh-kitten
forward_remote_control yes
{{- end }}
