music_directory         "nfs://pbox/mnt/media/audio"
playlist_directory      "~/.local/share/mpd/playlists"
log_file                "syslog"
state_file              "~/.local/share/mpd/state"
sticker_file            "~/.local/share/mpd/sticker.sql"

bind_to_address         "127.0.0.1"
{{- if ne .chezmoi.os "darwin" }}
bind_to_address         "$XDG_RUNTIME_DIR/mpd/socket"
{{- end }}
port                    "6600"
restore_paused          "yes"

database {
    plugin              "proxy"
    host                "pbox"
    port                "6600"
}

playlist_plugin {
    name "cue"
    enabled "true"
}

playlist_plugin {
    name "pls"
    enabled "true"
}

decoder {
    plugin "wildmidi"
    enabled "no"
}

decoder {
    plugin "mpg123"
    enabled "no"
}

input_cache {
    size "1 GB"
}

replaygain          "auto"
replaygain_limit    "yes"

{{- if eq .chezmoi.os "darwin" }}
audio_output {
    type        "osx"
    name        "CoreAudio"
}
{{- else }}
audio_output {
    type        "pipewire"
    name        "pipewire"
}
{{- end }}

audio_output {
    type                    "fifo"
    name                    "cava_fifo"
    path                    "/tmp/mpd.fifo"
    format                  "44100:16:2"
}
