HashKnownHosts no
{{- if eq .chezmoi.os "windows" "darwin" }}
Include ~/.ssh/1Password/config
{{- end }}
Host *
ServerAliveInterval 86400
ServerAliveCountMax 4
Port 22
IdentityFile ~/.ssh/cwel
{{- if eq .chezmoi.os "darwin" }}
IdentityAgent ~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
{{- end }}
Host pbox
HostName pbox
user cwel
ForwardAgent yes
ForwardX11 yes

Host pstick
HostName pstick
User cwel
ForwardAgent yes
ForwardX11 yes

Host mbook
HostName mbook
User cwel
ForwardAgent yes

Host github.com
User git
PreferredAuthentications publickey

Host gitea
HostName git.cwel.casa
User git
PreferredAuthentications publickey
