{{ if or (eq .chezmoi.os "darwin") (eq .chezmoi.os "linux") -}}
#!/bin/bash

brew bundle --file=/dev/stdin <<EOF
{{- range .pkgs.shared.brews }}
brew {{ . | quote }}
{{- end }}

{{- if eq .chezmoi.os "darwin" }}
{{- range .pkgs.darwin.brews }}
brew {{ . | quote }}
{{- end }}
{{- end }}

{{- range .pkgs.shared.casks }}
cask {{ . | quote }}
{{- end }}

{{- if eq .chezmoi.os "darwin" }}
{{- range .pkgs.darwin.casks }}
cask {{ . | quote }}
{{- end }}
{{- end }}
EOF
{{- end }}
