# Self-elevate
if (-Not ([Security.Principal.WindowsPrincipal] [Security.Principal.WindowsIdentity]::GetCurrent()).IsInRole([Security.Principal.WindowsBuiltInRole] 'Administrator'))
{
  if ([int](Get-CimInstance -Class Win32_OperatingSystem | Select-Object -ExpandProperty BuildNumber) -ge 6000)
  {
    $CommandLine = "-File `"" + $MyInvocation.MyCommand.Path + "`" " + $MyInvocation.UnboundArguments
    Start-Process -Wait -FilePath PowerShell.exe -Verb Runas -ArgumentList $CommandLine
    Exit
  }
}

Import-Module Microsoft.PowerShell.Security
Set-ExecutionPolicy -ExecutionPolicy Unrestricted -Scope CurrentUser
Set-ExecutionPolicy Bypass -Scope Process -Force

Write-Host "Enabling OpenSSH Server..."
Add-WindowsCapability -Online -Name OpenSSH.Server*
Start-Service sshd
Set-Service -Name sshd -StartupType 'Automatic'
Write-Host "Configuring OpenSSH Server..."
Get-NetFirewallRule -Name OpenSSH-Server-In-TCP |Enable-NetFirewallRule
New-ItemProperty -Path "HKLM:\SOFTWARE\OpenSSH" -Name DefaultShell -Value "C:\Program Files\PowerShell\7\pwsh.exe" -PropertyType String -Force
Write-Host "‼️You might need to e %programdata%\ssh\sshd_config and comment out the 'Match Group administrators' block at the end of the file."
Get-Service sshd| Restart-Service –force

Write-Host "Enabling Dev mode..."
Add-WindowsCapability -Online -Name DeveloperMode

{{ range $feature := .config.windows.features.enable }}
Write-Host 'Enable {{ $feature }}...'
Enable-WindowsOptionalFeature -Online -FeatureName '{{ $feature }}'
{{ end }}

{{ range $feature := .config.windows.features.disable }}
Write-Host 'Disable {{ $feature }}...'
Disable-WindowsOptionalFeature -Online -FeatureName '{{ $feature }}'
{{ end }}
