{{ if .pkgs.windows.psGallery }}

exit 0 # It doesn't work yet

Import-Module PowerShellGet

Write-Host 'INSTALLING PSGALLERY MODULES...'

{{ range $module := .pkgs.windows.psGallery }}
Install-Module -Name '{{ $module }}' -Repository PSGallery -Force -AcceptLicense -SkipPublisherCheck
{{ end }}

{{ end }}
