## https://ghostty.org/docs/config/reference
## Theme
{{ if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "arch") }}
config-file = ?"~/.config/omarchy/current/theme/ghostty.conf"
font-size = 14
{{ else }}
theme = Catppuccin Mocha
font-size = 17
{{ end }}
background-opacity = .8969
background-blur = true
background-blur-radius = 20

## Font
font-family = "FantasqueSansM Nerd Font"
font-feature = ss02, zero, liga
font-thicken = true
adjust-underline-position = 0
adjust-underline-thickness = -50%

## Cursor
adjust-cursor-thickness = -5
adjust-cursor-height = -5
cursor-style = block
cursor-style-blink = true
shell-integration-features = no-cursor

## General
confirm-close-surface = false
quit-after-last-window-closed = false
quick-terminal-autohide = true
link-url = true
clipboard-trim-trailing-spaces = true
clipboard-read = allow
clipboard-write = allow
clipboard-paste-protection = false
mouse-hide-while-typing = true
mouse-scroll-multiplier = 2
resize-overlay = never
copy-on-select = true
quick-terminal-animation-duration = 0.08

## Window
window-theme = ghostty
window-subtitle = false
window-padding-color = extend
window-padding-balance = true
adjust-cell-width = -1
adjust-cell-height = 10%
selection-foreground = CBE0F0
selection-background = 033259
window-save-state = always
#custom-shader = ~/.config/ghostty/shaders/cursor_smear.glsl

## Darwin
desktop-notifications = true
macos-titlebar-style = tabs
macos-auto-secure-input = true
macos-option-as-alt = left
macos-non-native-fullscreen = visible-menu

## Binds
keybind = global:shift+escape=toggle_visibility
keybind = super+shift+i=inspector:toggle
keybind = super+r=reload_config
keybind = super+d=unbind
keybind = global:cmd+grave_accent=toggle_quick_terminal
keybind = shift+enter=text:\x1b\r
keybind = performable:ctrl+c=copy_to_clipboard
keybind = performable:ctrl+v=paste_from_clipboard
keybind = performable:ctrl+t=new_tab
keybind = performable:ctrl+w=close_tab
