{{- $fleet := dict -}}{{- if hasKey . "hosts" -}}{{- $fleet = .hosts -}}{{- end -}}
{{- range $n, $h := $fleet }}
{{- if ne $n $.hostname }}
[sftp.{{ $n }}]
host = "{{ $n }}"
user = "cwel"
port = 22
{{ end -}}
{{- end -}}
