{{ if eq .chezmoi.os "linux" }}
[".config/Kvantum/catppuccin-mocha-blue/catppuccin-mocha-blue.kvconfig"]
type = "file"
url = "https://raw.githubusercontent.com/catppuccin/kvantum/refs/heads/main/themes/catppuccin-mocha-blue/catppuccin-mocha-blue.kvconfig"

[".config/Kvantum/catppuccin-mocha-blue/catppuccin-mocha-blue.svg"]
type = "file"
url = "https://raw.githubusercontent.com/catppuccin/kvantum/refs/heads/main/themes/catppuccin-mocha-blue/catppuccin-mocha-blue.svg"
{{ end }}
