{{ if eq .chezmoi.os "linux" "darwin" }}

[".config/btop/themes"]
type = "archive"
url = "https://github.com/catppuccin/btop/archive/refs/heads/main.zip"
stripComponents = 2
include = ["btop-main/themes/catppuccin_*.theme"]

[".config/ghostty/shaders"]
type = "git-repo"
url = "https://github.com/cwelsys/ghostty-shaders.git"
clone.args = ['--depth', '1']
pull.args = ['--depth', '1']

[".config/fsh/catppuccin-mocha.ini"]
type = "file"
url = "https://raw.githubusercontent.com/catppuccin/zsh-fsh/refs/heads/main/themes/catppuccin-mocha.ini"

[".config/atuin/themes/catppuccin-mocha-teal.toml"]
type = "file"
url = "https://raw.githubusercontent.com/catppuccin/atuin/refs/heads/main/themes/mocha/catppuccin-mocha-teal.toml"

[".local/share/spinners/spinners.json"]
type = "file"
url = "https://raw.githubusercontent.com/simeg/bash-cli-spinners/main/spinners.json"

[".config/shell/ctpgum.sh"]
type = "file"
url = "https://raw.githubusercontent.com/holo96/catppuccin-gum/main/gum-catppuccin.sh"

{{ end }}
