{{ if eq .chezmoi.os "linux" "darwin" }}

[".config/btop/themes"]
type = "archive"
url = "https://github.com/catppuccin/btop/archive/refs/heads/main.zip"
stripComponents = 2
include = ["btop-main/themes/catppuccin_*.theme"]

[".config/ghostty/shaders"]
type = "git-repo"
url = "https://github.com/hackr-sh/ghostty-shaders.git"
clone.args = ['--depth', '1']
pull.args = ['--depth', '1']

[".config/fsh/catppuccin-mocha.ini"]
type = "file"
url = "https://raw.githubusercontent.com/catppuccin/zsh-fsh/refs/heads/main/themes/catppuccin-mocha.ini"

[".config/atuin/themes/catppuccin-mocha-teal.toml"]
type = "file"
url = "https://raw.githubusercontent.com/catppuccin/atuin/refs/heads/main/themes/mocha/catppuccin-mocha-teal.toml"

[".config/fish/themes/Catppuccin Mocha.theme"]
type = "file"
url = "https://github.com/catppuccin/fish/raw/refs/heads/main/themes/Catppuccin%20Mocha.theme"

{{ end }}
