{{ if eq .osId "windows" }}
["AppData/Roaming/bat/themes"]
{{ else }}
[".config/bat/themes"]
{{ end }}
type = "archive"
url = "https://github.com/catppuccin/bat/archive/refs/heads/main.zip"
stripComponents = 2
include = ["bat-main/themes/Catppuccin *.tmTheme"]

[".config/delta/catppuccin.gitconfig"]
type = "file"
url = "https://raw.githubusercontent.com/catppuccin/delta/refs/heads/main/catppuccin.gitconfig"

{{ if eq .osId "windows" }}
["AppData/Local/glow/Config/themes"]
{{ else }}
[".config/glow/themes"]
{{ end }}
type = "archive"
url = "https://github.com/catppuccin/glamour/archive/refs/heads/main.zip"
stripComponents = 2
include = ["glamour-main/themes/catppuccin-*.json"]

[".config/git/githelpers.sh"]
type = "file"
url = "https://raw.githubusercontent.com/stevearc/dotfiles/master/.githelpers"
