{{ if eq .osId "windows" }}
["AppData/Roaming/bat/themes"]
{{ else }}
[".config/bat/themes"]
{{ end }}
type = "archive"
url = "https://github.com/catppuccin/bat/archive/refs/heads/main.zip"
stripComponents = 2
include = ["bat-main/themes/Catppuccin *.tmTheme"]

[".config/delta/catppuccin.gitconfig"]
type = "file"
url = "https://raw.githubusercontent.com/catppuccin/delta/refs/heads/main/catppuccin.gitconfig"

[".config/glow/themes"]
type = "archive"
url = "https://github.com/catppuccin/glamour/archive/refs/heads/main.zip"
stripComponents = 2
include = ["glamour-main/themes/catppuccin-*.json"]

[".config/yazi/Catppuccin-{{ .catppuccinFlavor }}.tmTheme"]
type = "file"
url = "https://raw.githubusercontent.com/catppuccin/bat/main/themes/Catppuccin%20{{ .catppuccinFlavorTitle }}.tmTheme"
