{{ if eq .chezmoi.os "linux" "darwin" }}

##########################################

[".config/tmux/plugins/tpm"]
type = "git-repo"
url = "https://github.com/tmux-plugins/tpm"
{{ .externalGitArgs }}


[".config/btop/themes"]
type = "archive"
url = "https://github.com/catppuccin/btop/archive/refs/heads/main.zip"
stripComponents = 2
include = ["btop-main/themes/catppuccin_*.theme"]


##########################################

{{ end }}
