{{ if eq .chezmoi.os "linux" "darwin" }}

[".config/tmux/plugins/tpm"]
type = "git-repo"
url = "https://github.com/tmux-plugins/tpm"
clone.args = ['--depth', '1']
pull.args = ['--depth', '1']

[".config/btop/themes"]
type = "archive"
url = "https://github.com/catppuccin/btop/archive/refs/heads/main.zip"
stripComponents = 2
include = ["btop-main/themes/catppuccin_*.theme"]

[".config/zsh/mocha-syntax.zsh"]
type = "file"
url = "https://raw.githubusercontent.com/catppuccin/zsh-syntax-highlighting/refs/heads/main/themes/catppuccin_mocha-zsh-syntax-highlighting.zsh"
clone.args = ['--depth', '1']
pull.args = ['--depth', '1']

[".config/atuin/themes/catppuccin-mocha-{{ .catppuccinAccentColor }}.toml"]
type = "file"
url = "https://raw.githubusercontent.com/catppuccin/atuin/refs/heads/main/themes/mocha/catppuccin-mocha-{{ .catppuccinAccentColor }}.toml"
clone.args = ['--depth', '1']
pull.args = ['--depth', '1']

[".config/fish/themes/Catppuccin Mocha.theme"]
type = "file"
url = "https://github.com/catppuccin/fish/raw/refs/heads/main/themes/Catppuccin%20Mocha.theme"

{{ end }}
