{{ if eq .osId "windows" }}

[".config/komorebi/applications.json"]
type = "file"
url = "https://raw.githubusercontent.com/LGUG2Z/komorebi-application-specific-configuration/refs/heads/master/applications.json"

["AppData/Roaming/FlowLauncher/Themes/catppuccin_mocha.xaml"]
type = "file"
url = "https://raw.githubusercontent.com/catppuccin/flow-launcher/refs/heads/main/themes/Catppuccin%20Mocha.xaml"

["scoop/persist/btop/themes/catppuccin_mocha.theme"]
type = "file"
url = "https://raw.githubusercontent.com/catppuccin/btop/refs/heads/main/themes/catppuccin_mocha.theme"

["scoop/persist/qbittorrent/profile/qBittorrent/config/themes/catppuccin-mocha.qbtheme"]
type= "file"
url = "https://github.com/catppuccin/qbittorrent/releases/download/v2.0.1/catppuccin-mocha.qbtheme"

[".config/clink/clink-gizmos"]
type = "git-repo"
url = "https://github.com/chrisant996/clink-gizmos.git"
clone.args = ['--depth', '1']
pull.args = ['--depth', '1']

[".config/clink/more-clink-completions"]
type = "git-repo"
url = "https://github.com/sebthom/more-clink-completions.git"
clone.args = ['--depth', '1']
pull.args = ['--depth', '1']

["Documents/PowerShell/Modules/Catppuccin"]
type = "git-repo"
url = "https://github.com/catppuccin/powershell.git"
clone.args = ['--depth', '1']
pull.args = ['--depth', '1']

[".local/bin/TotalReg.exe"]
type = "file"
url = "https://github.com/zodiacon/TotalRegistry/releases/download/v0.9.8/TotalReg.exe"

[".local/bin/ctrl-h.exe"]
type = "file"
url = "https://github.com/cwelsys/reggie/raw/refs/heads/main/ahk/ctrl-h.exe"

[".local/bin/clearthumbs.bat"]
type = "file"
url = "https://github.com/cwelsys/reggie/raw/refs/heads/main/bat/ClearThumbCache.bat"

[".local/bin/windhawk-backup.ps1"]
type = "file"
url = "https://github.com/cwelsys/reggie/raw/refs/heads/main/pwsh/windhawk-backup.ps1"

[".local/bin/NewOutlookPatcher.exe"]
type = "file"
url = "https://github.com/valinet/NewOutlookPatcher/releases/download/2024.06.24.01/NewOutlookPatcher.exe"

["AppData/Roaming/windhawk/redirect"]
type = "git-repo"
url = "https://github.com/cwelsys/redirect.git"
clone.args = ['--depth', '1']
pull.args = ['--depth', '1']

["Documents/PoB/Builds"]
type = "git-repo"
url = "https://github.com/cwelsys/pobs.git"
clone.args = ['--depth', '1']
pull.args = ['--depth', '1']
{{ end }}
