[mgr]
prepend_keymap = [
  { on = [
    "g",
    "l",
  ], run = 'shell "nvim $@ +GitFileHistory" --block', desc = "Git file history" },
  { on = 'E', run = 'shell "sudo -e $@" --block --confirm' },
  { on = "R", run = "plugin sudo-ops -- rename", desc = "Sudo rename" },
  { on = "A", run = "plugin sudo-ops -- create", desc = "Sudo create" },
  { on = "<C-p>", run = "shell -- qlmanage -p %s", desc = "Quick look (Darwin)" },
  { on = [
    "g",
    "j",
  ], run = "plugin recycle-bin -- open", desc = "Open trash directory" },
  { on = [
    "g",
    "J",
  ], run = "plugin recycle-bin", desc = "Trash menu" },

  { on = "l", run = "plugin smart-enter", desc = "Enter directory or open file" },
  { on = "f", run = "plugin searchjump", desc = "Search jump" },
  { on = "F", run = "plugin smart-filter", desc = "Smart filter" },
  { on = "M", run = "plugin mount", desc = "Mount manager" },
  { on = "T", run = "plugin toggle-pane max-preview", desc = "Maximize/restore preview" },
  { on = "+", run = "plugin zoom 1", desc = "Zoom in preview" },
  { on = "-", run = "plugin zoom -1", desc = "Zoom out preview" },
  { on = "<C-d>", run = "plugin diff", desc = "Diff selected with hovered" },
  { on = [
    "g",
    "i",
  ], run = "plugin lazygit", desc = "run lazygit" },
  { on = [
    "c",
    "p",
  ], run = "plugin command", desc = "Yazi command prompt" },
  { on = [
    "c",
    "m",
  ], run = "plugin chmod", desc = "Chmod on selected files" },
  { on = [
    "c",
    "a",
  ], run = "plugin compress", desc = "Archive selected files" },
  { on = [
    "g",
    "c",
  ], run = "plugin vcs-files", desc = "Show Git file changes" },
  { on = [
    "C",
  ], run = "plugin ouch", desc = "Compress with ouch" },
]
