[mgr]
prepend_keymap = [
	{ on = "l", run = "plugin smart-enter", desc = "Enter directory or open file" },
	{ on = "f", run = "plugin searchjump", desc = "Search jump" },
	{ on = "F", run = "plugin smart-filter", desc = "Smart filter" },
	{ on = "M", run = "plugin mount", desc = "Mount manager" },
	{ on = "T", run = "plugin toggle-pane max-preview", desc = "Maximize/restore preview" },
	{ on = "+", run = "plugin zoom 1", desc = "Zoom in preview" },
	{ on = "-", run = "plugin zoom -1", desc = "Zoom out preview" },
	{ on = "<C-d>", run = "plugin diff", desc = "Diff selected with hovered" },
  { on = ["c", "p"], run  = "plugin command", desc = "Yazi command prompt" },
	{ on = ["c", "m"], run = "plugin chmod", desc = "Chmod on selected files" },
	{ on = ["c", "a"], run = "plugin compress", desc = "Archive selected files" },
	{ on = ["g", "c"], run = "plugin vcs-files", desc = "Show Git file changes" },
]
