[mgr]
    prepend_keymap = [
        { on = "+", run = "plugin zoom 1", desc = "Zoom in hovered file" },
        { on = "-", run = "plugin zoom -1", desc = "Zoom out hovered file" },
        { on = "<", run = "tab_swap -1", desc = "Swap current tab with previous tab" },
        { on = "<A-j>", run = "arrow 5", desc = "Move cursor down half page" },
        { on = "<A-k>", run = "arrow -5", desc = "Move cursor up half page" },
        { on = "<C-d>", run = "plugin diff", desc = "Diff the selected with the hovered file" },
        { on = "<C-e>", run = "seek 5", desc = "Seek down 5 units in the preview" },
        { on = "<C-u>", run = "seek -5", desc = "Seek up 5 units in the preview" },
        { on = ">", run = "tab_swap 1", desc = "Swap current tab with next tab" },
        { on = "A", run = "create --dir", desc = "Create a dir" },
        { on = "H", run = "tab_switch -1 --relative", desc = "Switch to the previous tab" },
        { on = "J", run = "arrow 50%", desc = "Move cursor down half page" },
        { on = "K", run = "arrow -50%", desc = "Move cursor up half page" },
        { on = "L", run = "tab_switch 1 --relative", desc = "Switch to the next tab" },
        { on = "M", run = "plugin mount" },
        { on = "O", run = "plugin open-with-cmd", desc = "Open with command" },
        { on = "S", run = "search --via=fd", desc = "Search files by name using fd" },
        { on = "o", run = "plugin open-with-cmd --args=block", desc = "Open with command in the terminal" },
        # { on = "p", run = "plugin smart-paste", desc = "Paste into the hovered directory or CWD" },
        { on = [
            "!",
        ], run = 'shell "$SHELL" --block', desc = "Open shell here" },
        { on = [
            "<C-y>",
        ], run = 'shell -- for path in "$@"; do echo "file://$path"; done | wl-copy -t text/uri-list', desc = "Copy to clipboard" },
        { on = [
            "D",
            "R",
        ], run = "plugin sudo -- remove --permanently", desc = "sudo delete" },
        { on = [
            "L",
            "R",
            "p",
        ], run = "plugin sudo -- hardlink", desc = "sudo hardlink" },
        { on = [
            "P",
            "R",
        ], run = "plugin sudo -- paste --force", desc = "sudo paste" },
        { on = [
            "R",
            "a",
        ], run = "plugin sudo -- create", desc = "sudo create" },
        { on = [
            "R",
            "d",
        ], run = "plugin sudo -- remove", desc = "sudo trash" },
        { on = [
            "R",
            "l",
            "p",
        ], run = "plugin sudo -- link", desc = "sudo link" },
        { on = [
            "R",
            "p",
            "p",
        ], run = "plugin sudo -- paste", desc = "sudo paste" },
        { on = [
            "R",
            "p",
            "r",
        ], run = "plugin sudo -- link --relative", desc = "sudo link relative path" },
        { on = [
            "R",
            "r",
        ], run = "plugin sudo -- rename", desc = "sudo rename" },
        { on = [
            "a",
            "c",
        ], run = "plugin compress", desc = "Archive selected files" },
        { on = [
            "c",
            "m",
        ], run = "plugin chmod", desc = "Chmod on selected files" },
        { on = [
            "c",
            "p",
        ], run = "plugin command", desc = "Yazi command prompt" },
        { on = [
            "f",
            "f",
        ], run = "filter --smart", desc = "Filter files" },
        { on = [
            "f",
            "g",
        ], run = "plugin fg", desc = "find file by content (fuzzy match)" },
        { on = [
            "g",
            "r",
        ], run = 'shell -- ya emit cd "$(git rev-parse --show-toplevel)"', desc = "Root of Git Repo" },
        { on = [
            "i",
        ], run = "plugin what-size -- '-c'", desc = "Calc size of selection or cwd" },
        { on = [
            "s",
        ], run = "plugin searchjump --autocd", desc = "Flash" },
    ]

    append_keymap = [
        { on = [
            "E",
        ], run = "open --interactive", desc = "Open the selected files interactively" },
        { on = [
            "e",
        ], run = "open", desc = "Open the selected files" },
    ]

[completion]
    prepend_keymap = [
        { on = "<C-j>", run = "arrow 1", desc = "Move cursor down" },
        { on = "<C-k>", run = "arrow -1", desc = "Move cursor up" },
    ]
