"$schema" = "https://yazi-rs.github.io/schemas/yazi.json"

[mgr]
ratio = [1, 2, 3]
sort_by = "natural"
sort_dir_first = true
sort_sensitive = false
sort_reverse = false
sort_translit = false
linemode = "size_only"
show_hidden = true
show_symlink = true
scrolloff = 5
mouse_events = ["click", "scroll", "touch", "move", "drag"]

[plugin]
prepend_fetchers = [
	{ id = "git", url = "*", run = "git" },
	{ id = "git", url = "*/", run = "git" },
	{ id = "mime", url = "*", run = "mime-ext", prio = "high" },
]

prepend_previewers = [
	{ url = "*.md", run = 'piper -- glow -s dark -w $w "$1"' },
	{ url = "*.csv", run = 'piper -- column -s, -t "$1"' },
	{ url = "*.tar*", run = 'piper --format=url -- tar tf "$1"' },
]
