#!/usr/bin/env bash

# themeConfigFile hash: {{ include (joinPath .chezmoi.homeDir ".config/bat/themes" (printf "Catppuccin %s.tmTheme" (.catppuccinFlavor | title))) | sha256sum }}

RED='\033[0;31m'
GREEN='\033[0;32m'
YELLOW='\033[1;33m'
BLUE='\033[0;34m'
GRAY='\033[0;37m'
WHITE='\033[1;37m'
NC='\033[0m' # No Color

if ! command -v bat &>/dev/null; then
  echo -e "${RED}❌${NC} ${WHITE}bat:${NC} ${YELLOW}Command not found. Skipping cache build.${NC}"
  exit 0 # Exit gracefully as bat is not installed
fi

echo ""
echo -e "${YELLOW}***********************************${NC}"
echo -e "${YELLOW}**      BUILDING BAT CACHE       **${NC}"
echo -e "${YELLOW}***********************************${NC}"
echo ""

echo -e "${BLUE}🔄${NC} ${WHITE}bat:${NC} ${GRAY}Building cache...${NC}"
bat cache --build

if [ $? -eq 0 ]; then
  echo -e "${GREEN}✅${NC} ${WHITE}bat:${NC} ${GRAY}Cache built successfully.${NC}"
else
  echo -e "${RED}❌${NC} ${WHITE}bat:${NC} ${GRAY}Failed to build cache. Exit code: $?${NC}"
fi

echo -e "\n${WHITE}👍${NC} ${YELLOW}Bat cache build process completed.${NC}\n"
