{{ if or (eq .chezmoi.os "darwin") (eq .chezmoi.os "linux") -}}
#!/bin/bash

brew bundle --file=/dev/stdin <<EOF
{{- range .packages.unv.brews }}
brew {{ . | quote }}
{{- end }}

{{- if eq .chezmoi.os "darwin" }}
{{- range .packages.darwin.brews }}
brew {{ . | quote }}
{{- end }}
{{- end }}

{{- range .packages.unv.casks }}
cask {{ . | quote }}
{{- end }}

{{- if eq .chezmoi.os "darwin" }}
{{- range .packages.darwin.casks }}
cask {{ . | quote }}
{{- end }}
{{- end }}
EOF
{{- end }}
