#!/bin/bash

{{ if eq .chezmoi.os "darwin" }}
if command -v brew &> /dev/null; then
  brew install tailscale
else
  echo "Homebrew not found. Installing Tailscale using the pkg installer."
  curl -fsSL https://pkgs.tailscale.com/stable/tailscale-install-darwin-amd64.pkg -o /tmp/tailscale.pkg
  sudo installer -pkg /tmp/tailscale.pkg -target /
  rm /tmp/tailscale.pkg
fi

{{ else if eq .chezmoi.osRelease.id "fedora" }}
sudo dnf config-manager --add-repo https://pkgs.tailscale.com/stable/fedora/tailscale.repo
sudo dnf install -y tailscale

{{ else if and (eq .chezmoi.os "linux") (not .isWSL) }}
curl -fsSL https://tailscale.com/install.sh | sh
{{   end }}
