theme: catppuccin-mocha
radarr:
  - uri: https://radarr.cwel.casa
    api_token: {{ onepasswordRead "op://Secrets/Radarr/api" | quote }}
sonarr:
  - uri: https://sonarr.cwel.casa
    api_token: {{ onepasswordRead "op://Secrets/Sonarr/api" | quote }}
