#!/usr/bin/env bash
{{- if and (hasKey .pkgs.hosts .hostname) (hasKey (index .pkgs.hosts .hostname) "pacman") -}}
{{ $pkgs := (index .pkgs.hosts .hostname).pacman }}
missing=$(pacman -T {{ $pkgs | quoteList | join " " }} || true)
if [[ -n "$missing" ]]; then
  paru -S --needed --noconfirm $missing
fi
{{- else }}
echo "No package configuration found for hostname: {{ .hostname }}"
{{- end }}

