#!/usr/bin/env bash
{{- if and (hasKey .pkgs.hosts .hostname) (hasKey (index .pkgs.hosts .hostname) "pacman") -}}
{{ $pkgs := (index .pkgs.hosts .hostname).pacman }}
paru -S {{ $pkgs | quoteList | join " " }} --needed --noconfirm
{{- else }}
echo "No package configuration found for hostname: {{ .hostname }}"
{{- end }}

