{{ if or (eq .chezmoi.os "darwin" "linux") -}}
#!/bin/bash

brew bundle --file=/dev/stdin <<EOF
{{ range .packages.brew.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.brew.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF
{{ end -}}
