#!/bin/bash

{{ if eq .chezmoi.osRelease.id "fedora" }}
sudo dnf config-manager --add-repo https://pkgs.tailscale.com/stable/fedora/tailscale.repo
sudo dnf install -y tailscale
{{ else if and (eq .chezmoi.os "linux") (not .isWSL) }}
curl -fsSL https://tailscale.com/install.sh | sh
{{   end }}
