#!/usr/bin/env bash
{{ if lookPath "cargo" }}
set -e
installed=$(cargo install --list | awk '/^[^ ]/ { sub(/ v.*/, ""); print }')
{{ range (get .pkgs "cargo" | default list) -}}
{{- if kindIs "string" . }}
grep -qxF '{{ . }}' <<< "$installed" || cargo install '{{ . }}' || true
{{- else }}
grep -qxF '{{ .name }}' <<< "$installed" || cargo install --git '{{ .git }}' '{{ .name }}' || true
{{- end }}
{{ end }}
{{- end }}
