#!/usr/bin/env bash
{{ if lookPath "brew" }}
brew bundle --file=/dev/stdin <<'BUNDLE'
{{- range (get .pkgs "brews" | default list) }}
brew {{ . | quote }}
{{- end }}
{{- if and (eq .chezmoi.os "darwin") (not .headless) }}
{{- range (get .pkgs "casks" | default list) }}
cask {{ . | quote }}
{{- end }}
{{- end }}
BUNDLE
{{- end }}
