#!/usr/bin/env bash
{{ if lookPath "cargo" }}
set -e

{{- $pkgs := list }}
{{- if hasKey .pkgs "global" }}
{{-   if hasKey .pkgs.global "cargo" }}
{{-     $pkgs = .pkgs.global.cargo }}
{{-   end }}
{{- end }}
{{- if and (hasKey .pkgs.hosts .hostname) (hasKey (index .pkgs.hosts .hostname) "cargo") }}
{{-   $pkgs = concat $pkgs (index .pkgs.hosts .hostname).cargo }}
{{- end }}

installed=$(cargo install --list | awk '/^[^ ]/ { sub(/ v.*/, ""); print }')

{{ range $pkgs -}}
{{- if kindIs "string" . }}
if ! grep -qxF '{{ . }}' <<< "$installed"; then
  echo "cargo install {{ . }}..."
  cargo install '{{ . }}' || true
fi
{{- else }}
if ! grep -qxF '{{ .name }}' <<< "$installed"; then
  echo "cargo install {{ .name }} (git: {{ .git }})..."
  cargo install --git '{{ .git }}' '{{ .name }}' || true
fi
{{- end }}
{{ end }}
{{ end }}
