#!/usr/bin/env bash

STORE="${PASSWORD_STORE_DIR:-${XDG_DATA_HOME:-$HOME/.local/share}/pass}"
if [[ ! -d "$STORE" ]]; then
  git clone git@github.com:cwelsys/poswd.git "$STORE"
  tee $STORE/.git/hooks/post-commit >/dev/null <<'EOF'
#!/bin/sh
set -x
git pull --rebase
git push
EOF
  chmod +x "$STORE/.git/hooks/post-commit"
fi

if ! command -v gpg &>/dev/null; then
  exit
fi

{{- if not .headless }}
gpg --batch --pinentry-mode loopback --import <<EOF
{{ includeTemplate "gpg/encrypted_pri-ecc.gpg" | decrypt }}
EOF
{{- end }}

gpg --import <<EOF
{{ includeTemplate "gpg/encrypted_pub-ecc.gpg" | decrypt }}
EOF

(
  echo 5
  echo y
  echo save
) |
  gpg --command-fd 0 --no-tty --no-greeting -q --edit-key '{{ .gpgId }}' trust
