#!/usr/bin/env bash
{{ if lookPath "yazi" }}
set -e

{{- $plugins := list }}
{{- if hasKey .pkgs "global" }}
{{-   if hasKey .pkgs.global "yazi" }}
{{-     $plugins = .pkgs.global.yazi }}
{{-   end }}
{{- end }}
{{- if and (hasKey .pkgs.hosts .hostname) (hasKey (index .pkgs.hosts .hostname) "yazi") }}
{{-   $plugins = concat $plugins (index .pkgs.hosts .hostname).yazi }}
{{- end }}

{{ range $plugins -}}
ya pkg add '{{ . }}' 2>/dev/null || true
{{ end }}
{{ end }}
