typeset -aU path
export path=(
  $HOME/.npm-global/bin
  $PNPM_HOME
  $HOME/.local/share/bin
  $HOME/.cargo/bin
  $HOME/.local/share/nvim/mason/bin
  $path
)
export NVIM_APPNAME='nvim'
export EDITOR='code --wait' # 'nvim', 'vim'
export VISUAL="$EDITOR"
export PAGER='bat' # 'less', 'more', 'bat', no 'delta'!
export GIT_PAGER='delta' # 'less', 'more', 'bat', 'delta'
export CATPPUCCIN_FLAVOR='{{ .catppuccinFlavor }}'
{{- /* vim: set filetype=zsh: */}}
