# UPDATE PATH
typeset -aU path
export path=(
  $HOME/.npm-global/bin
  $PNPM_HOME
  $HOME/.local/share/bin
  $HOME/.cargo/bin
  $HOME/.local/share/nvim/mason/bin
  $path
)

export DISABLE_AUTO_UPDATE=true


# XDG

export XDG_CONFIG_HOME="$HOME/.config"
export XDG_DATA_HOME="$HOME/.local/share"
export XDG_CACHE_HOME="$HOME/.cache"
if [ ! -w ${XDG_RUNTIME_DIR:="/run/user/$UID"} ]; then
  XDG_RUNTIME_DIR=/tmp
fi
export XDG_RUNTIME_DIR


##########################################

# COMMON

export ZSH="$HOME/.oh-my-zsh"
export NVIM_APPNAME='nvim'
export EDITOR='nvim' # 'code --wait', 'vim'
export VISUAL="$EDITOR"
export PAGER='bat' # 'less', 'more', 'bat', no 'delta'!
export GIT_PAGER='delta' # 'less', 'more', 'bat', 'delta'


##########################################

# FZF

# https://github.com/catppuccin/fzf - not use background for transparent
# NOTE: With border left option, it cannot show preview-label
export FZF_DEFAULT_OPTS="
--color fg+:#f9e2af
--color fg:#cdd6f4
--color header:#cba6f7
--color hl+:#eba0ac
--color hl:#f38ba8
--color info:#89b4fa
--color marker:#89b4fa
--color pointer:#eba0ac
--color prompt:#eba0ac
--color spinner:#f5e0dc
--color border:#b4befe
--border
--cycle
--height ~100%
--layout reverse
--preview-window right,60%,border-left,wrap
--bind alt-w:toggle-preview-wrap
--bind ctrl-b:preview-page-up
--bind ctrl-d:preview-half-page-down
--bind ctrl-e:toggle-preview
--bind ctrl-f:preview-page-down
--bind ctrl-g:preview-top
--bind ctrl-h:preview-bottom
--bind ctrl-u:preview-half-page-up
"
# --bind one:accept # For accept if there's only 1
export FZF_DEFAULT_COMMAND="rg --files --no-ignore-vcs --hidden --ignore-file $HOME/ripgrep/ignore"


##########################################

# BAT

export MANPAGER="sh -c 'col -bx | bat -l man -p'"
export MANROFFOPT='-c'


##########################################

# ZVM VI
ZVM_VI_INSERT_ESCAPE_BINDKEY=jk

# ZSH TMUX
ZSH_TMUX_CONFIG="${XDG_CONFIG_HOME}/tmux/tmux.conf"


##########################################

# ZOXIDE
export ZOXIDE_CMD_OVERRIDE="cd"


##########################################

# ATAC
export ATAC_MAIN_DIR="$HOME/.config/atac"
export ATAC_KEY_BINDINGS="$HOME/.config/atac/key_bindings.toml"


##########################################

# JAVA
export JAVA_OPTS='-Xmx8g'


##########################################

# CUSTOM
export CATPPUCCIN_FLAVOR='{{ .catppuccinFlavor }}'
