theme: catppuccin-mocha
radarr:
  - uri: https://radarr.cwel.casa
    name: Movie
    api_token: {{ pass "arr/radarr }}
sonarr:
  - uri: https://sonarr.cwel.casa
    name: TV
    api_token: {{ pass "arr/sonarr }}
lidarr:
  - uri: https://lidarr.cwel.casa
    name: Music
    api_token: {{ pass "arr/lidarr }}
prowlarr:
  - uri: https://prowlarr.cwel.casa
    api_token: {{ pass "arr/prowlarr }}

