prSections:
  - title: My Pull Requests
    filters: is:open author:@me
  - title: Needs My Review
    filters: is:open review-requested:@me
  - title: Involved
    filters: is:open involves:@me -author:@me
issuesSections:
  - title: My Issues
    filters: is:open author:@me
  - title: Assigned
    filters: is:open assignee:@me
  - title: Involved
    filters: is:open involves:@me -author:@me
defaults:
  preview:
    open: true
    width: 50
  prsLimit: 20
  issuesLimit: 20
  view: prs
  layout:
    prs:
      updatedAt:
        width: 7
      repo:
        width: 15
      author:
        width: 15
      assignees:
        width: 20
        hidden: false
      base:
        width: 15
        hidden: false
      lines:
        width: 16
    issues:
      updatedAt:
        width: 7
      repo:
        width: 15
      creator:
        width: 10
      assignees:
        width: 20
        hidden: false
  refetchIntervalMinutes: 30

keybindings:
  universal:
    - name: lazygit
      key: g
      command: >
        cd {{"{{"}}.RepoPath{{"}}"}} && lazygit

  prs:
    - name: add
      key: A
      command: >
        cd {{"{{"}}.RepoPath{{"}}"}} && git add -A && lazygit
    - name: diff
      key: d
      command: >
        cd {{"{{"}}.RepoPath{{"}}"}} && gh pr checkout {{"{{"}}.PrNumber{{"}}"}} && nvim -c ":DiffviewOpen {{"{{"}}.BaseRefName{{"}}"}}...{{"{{"}}.HeadRefName{{"}}"}}"
    - name: open in Octo
      key: O
      command: >
        cd {{"{{"}}.RepoPath{{"}}"}} && nvim -c ":silent Octo pr edit {{"{{"}}.PrNumber{{"}}"}}"
    - name: open in vscode
      key: V
      command: >
        cd {{"{{"}}.RepoPath{{"}}"}} && gh pr checkout {{"{{"}}.PrNumber{{"}}"}} && code .
    - name: approve
      key: v
      command: >
        gh pr review --repo {{"{{"}}.RepoName{{"}}"}} --approve --body "$(gum input --prompt='Approve Comment: ')" {{"{{"}}.PrNumber{{"}}"}}"
    - name: merge
      key: m
      command: >
        gh pr merge --repo {{"{{"}}.RepoName{{"}}"}} {{"{{"}}.PrNumber{{"}}"}} --delete-branch

  issues:
    - name: pin
      key: p
      command: >
        gh issue pin {{"{{"}}.IssueNumber{{"}}"}} --repo {{"{{"}}.RepoName{{"}}"}}"
    - name: close
      key: x
      command: >
        gh issue close {{"{{"}}.IssueNumber{{"}}"}} --repo {{"{{"}}.RepoName{{"}}"}}"
    - name: open in Octo
      key: O
      command: >
        cd {{"{{"}}.RepoPath{{"}}"}} && nvim -c ":Octo issue edit {{"{{"}}.IssueNumber{{"}}"}}"
    - name: develop
      key: d
      command: >
        cd {{"{{"}}.RepoPath{{"}}"}} && gh issue develop -c {{"{{"}}.IssueNumber{{"}}"}} --checkout && nvim

repoPaths:
  /*: ~/projects/*
  dots: {{ .chezmoi.sourceDir }}
theme:
  ui:
    table:
      showSeparator: true
  colors:
    text:
      primary: "#cdd6f4"
      secondary: "#94e2d5"
      inverted: "#11111b"
      faint: "#bac2de"
      warning: "#f9e2af"
      success: "#a6e3a1"
      error: "#f38ba8"
    background:
      selected: "#313244"
    border:
      primary: "#94e2d5"
      secondary: "#45475a"
      faint: "#313244"
pager:
  diff: "delta" # delta | less
