[settings]
experimental = true
legacy_version_file = true
yes = true
quiet = true
windows_shim_mode = 'symlink'
ignored_config_paths = ["/mnt/"]

[settings.npm]
bun = true

#[settings.python]
#uv_venv_auto = true

[settings.pipx]
uvx = true

[settings.cargo]
binstall = true

[tools]
node = { version = "latest", postinstall = "corepack enable && corepack prepare pnpm@latest --activate" }
bun = "latest"
go = { version = "latest", preinstall = "mkdir -p {{ env "XDG_DATA_HOME" | replace "\\" "/" }}/go/bin" }
cargo-binstall = "latest"
rust = "beta"
java = "corretto-21"
maven = "latest"
uv = "latest"
python = { version = "3.13", postinstall = "python -m pip install --upgrade pip" }

[env]
npm_config_init_module = '{{ env "XDG_CONFIG_HOME" | replace "\\" "/" }}/npm/config/npm-init.js'
npm_config_cache = "{{ env "XDG_CACHE_HOME" | replace "\\" "/" }}/npm"
YARN_CACHE_FOLDER = "{{ env "XDG_CACHE_HOME" | replace "\\" "/" }}/npm"
PNPM_HOME = "{{ env "XDG_DATA_HOME" | replace "\\" "/" }}/pnpm"
MISE_PYTHON_DEFAULT_PACKAGES_FILE = "{{ env "XDG_CONFIG_HOME" | replace "\\" "/" }}/mise/default-python-packages"
MISE_GO_DEFAULT_PACKAGES_FILE = "{{ env "XDG_CONFIG_HOME" | replace "\\" "/" }}/mise/default-go-packages"
MISE_NODE_DEFAULT_PACKAGES_FILE = "{{ env "XDG_CONFIG_HOME" | replace "\\" "/" }}/mise/default-npm-packages"
GOPATH = "{{ env "XDG_DATA_HOME" | replace "\\" "/" }}/go"
GOBIN = "{{ env "GOPATH" | replace "\\" "/" }}/bin"
MISE_RUBY_DEFAULT_PACKAGES_FILE = "{{ env "XDG_CONFIG_HOME" | replace "\\" "/" }}/mise/default-gems"
MISE_RUSTUP_HOME = "{{ env "XDG_DATA_HOME" | replace "\\" "/" }}/rustup"
MISE_CARGO_HOME = "{{ env "XDG_DATA_HOME" | replace "\\" "/" }}/cargo"
_.path = ["{{ env "PNPM_HOME" | replace "\\" "/" }}", "{{ env "GOBIN" | replace "\\" "/" }}"]

